VITE_APP_BACKEND_IP="192.168.1.31:8080"

# Fazendo da forma abaixo fica exposto no cliente
# VITE_APPBACKEND_IP="127.0.0.1:8080"
# Ou seja sem o prefixo VITE_ as variáveis ficam mais seguras

# Para acessar as variáveis usem:
# import.meta.env.[NOME_DA_VARIÁVEL]

# Se tiverem dúvidas:
# https://vite.dev/guide/env-and-mode#env-files